body {
	font-family: "Rokkitt",Helvetica,Arial,sans-serif;
	font-size: 18px;
	line-height: 20px;
	background: #f8f8f0;
	margin:0;			
}

#top {
/*
	top: 0;
	position: fixed;
*/
	width: 100%;
	background-color: rgba(255,255,255,0.9);
	padding: 10px 0;
}

.menu {
	float: right;
	cursor: pointer;
	margin-top: -8px;
}	
	
#content {
	margin-top: 150px;
	padding-top: 20px;
}

.wrap {
	max-width: 800px;
	margin: 0 auto;
	padding: 0 40px;
}

#top span {
	white-space: nowrap;
}

pre {
	border: 1px solid #ccc;
	border-radius: 4px;
	background: #f0f0f0;
	padding: 0.5em;
	overflow: auto;
}

@media (max-width: 480px) {
	#top h1 {
		font-size: 26px;
	}
	#top h2 {
		font-size: 14px;
	}
}